
  @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Fira+Code:wght@300&family=Poppins:wght@100;300&display=swap');



:root{
    --primary-color-:#00853C;
    --bg-color:#181A20;
    --light--:#fff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:;
}
*::before,*::after{
    box-sizing: border-box;
}
body{
    background-color: var(--bg-color);
    font-family:system-ui, -apple-system, sans-serif 'Cedarville Cursive', cursive;
    font-family:system-ui, -apple-system, 'Fira Code', monospace;
    font-family: system-ui, -apple-system,'Poppins', sans-serif;
}
.header{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 84px;
    z-index: 2;
    /* transition:  0.5s ease; */
    background-color: var(--bg-color);
}
.header.addColor{
    background-color: var(--primary-color-);
}
 
.header .logo{
    display: flex;
    align-items: center;
    margin-left: 40px;
    gap: 10px;
}
.header .logo .grw{
    font-size: 20px;
    color: var(--light--);
}
.header .logo .svg1{
    fill:var(--primary-color-) ;
    margin-top: 5px;

}
.header .nav_list{
    position: fixed;
    display:flex;
    flex-direction: column;
    top: 84px;
    transform: translateY(-700px);
    background-color: inherit;
    height: calc(100vh - 84px);
    width: 100%;
    z-index: -1;
    transition: 0.5s ease;
}
.header .nav_list.slide-in{
    transform: translateY(0);
}
.header .nav_list .ul_list{
    width:max-content;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}
.header  .nav_list .ul_list .li_list{
    margin: 0 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    /* border:1px solid red; */
    margin: 25px 0;
    /* align-items: stretch; */
}
.header  .nav_list .ul_list .li_list:nth-child(4),
.header .nav_list .ul_list .li_list:nth-child(5){
    padding-right: 35px;
}
.header  .nav_list .ul_list .li_list .link_list{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    width: 100%;
    text-align: center;
    padding: 0px 0;
    justify-content:center ;
    color: var(--light--);
    /* border:1px solid rgb(169, 164, 164); */
}
.header  .nav_list .ul_list .li_list .link_list .link_text{
    font-size: 18px;
    font-weight: 500;
    width:max-content ;
}
.header .menu{
    margin-right: 42px;
    cursor: pointer;
}
.active_link{
    position: relative;
}
.active_link::after{
     
    content: '';
width: 57px;
left: 0;
position: absolute;
height: 3px;
bottom: -5px;
background-color:#DCF901;
}
main{
    margin-top: 200px;
    min-height: 100vh;
}
main .intro-text{
  max-width: 270px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-top: 40px;
}
main .buy_now{
    display: flex;
    justify-content: space-around;
    align-self:center;
    margin:30px auto 40px auto;
    font-size: 16px;
    gap: 5px;
    align-items: center;
    width: 143px;
    font-weight: 500px;
    color: var(--light--);
    border-radius: 30px;
    text-align: center;
    padding: 10px 15px;
    /* width: 143px; */
    border: 1px solid var(--light--);
}
main .buy_now .sv{
    width: 25px;
    height: 25px;
    display: flex;
    padding-right: 2px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color:  #00853C;
}
main .buy_now .buy-icon{
    fill: #00853C;
}
main .slider-con{
    width: 90%;
    position: relative;
    margin: 40px auto;
    padding: 0 20px;
    height: max-content;
     

    overflow: hidden;
}
main .slider-con .img-wrapper{
    display: flex;
    width: max-content;
    gap: 15px;
    margin:  0 auto;
    position: relative;
    transition:0.5s ease-in-out;

} 
main .slider-con .img-wrapper img{
    width: 100%;
    height: 279px;
    border-radius:7px ;
    object-fit: cover;

} 
main .slider-con .btn-right,
main .slider-con .btn-left{
    position: absolute;
    background-color: #00853c6b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 3;
    top: 50%;
}
main .slider-con .btn-right{
    right: 0;
}
main .images-den {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    
}
main .images-den .inputsect{  
 border-radius: 24.5px;
background: #252830;
width: 290px;
height: 47px;
display: flex;
align-items: center;
justify-content: ;
padding-left: 10px;
}

main .images-den  .inputsect .search{
    padding: 10px 0;
    margin-left: 7px;
    width: 80%;
    background-color: #252830;
    color: #fff;
    outline: none;
    border: none;
    
}
main .images-den .image-preview-con{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,350px));
    gap: 39px;
    place-items: center;
    place-content: center;
    margin:40px auto;
}
main .images-den .image-preview-con .img-preview{
    width: 100%;
    height: 300px;
    margin:20px auto;
    position: relative;

}
main .images-den .image-preview-con .img-preview img{
   width: 100%;
   height: 250px;
   object-fit: cover;
 border-radius: 8px;

}
main .images-den .image-preview-con .img-preview .prev-con{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
main .images-den .image-preview-con .img-preview .prev-con .cry{
   color:var(--light--);
   font-size:14px;
   font-weight:600;
   font-feature-settings: 'clig' off, 'liga'
}
main .images-den .image-preview-con .img-preview .prev-con .amount{
    color:var(--primary-color-);
    font-size:14px;
    padding: 12px 27px;
    width: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    font-weight:600;
    border-radius: 4px;
    background: rgba(0, 133, 60, 0.15);
    backdrop-filter: blur(50px);
    margin-left: 30px;
    border-radius: 5px;
 }
 main .images-den .image-preview-con .img-preview .prev-con .preview{
    color:#BDBDBD;
    font-size:12px;
    width: 73px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight:400;
    margin-left: auto;
    padding: 12px  27px;
    border-radius: 4px;
    background: #252830;
    backdrop-filter: blur(50px);
 }
main .see{
    display:flex;
    align-items: center;
    gap:13px;
    width: max-content;
    padding: 4px 7px;
    border-radius: 40px;
    border: 1px solid #252830;
}
main .see .ic{
 border-radius: 50%;
 background-color: #00853c86;
 width:38px;
 height:38px;
 margin-left: 10px;
 display:flex;
 align-items: center;
 justify-content:center;

}
main .see a{
    font-size: 14px;
    margin-right: 10px;
    font-weight: 600;
    color:var(--light--);
    text-transform:capitalize
}


/* footer */
.footer{
    background-color: var(--bg-color);
    width: 100%;

    /* border-top:1px solid var(--light--); */
}
.footer .footer-con{
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto 73px auto;
}
.footer .footer-con .footer-line .bdt{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 35px;
    color:var(--light--);
}
.footer .footer-con .footer-line .footer-li-con{
    display: flex;
    gap: 40px;
    flex-direction: column;

}
.footer .footer-con .footer-line .footer-li-con .ft-list .f-link{
    color: var(--light--);
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: 500;
}
.reserve{
    display: flex;
    /* margin-bottom: 50px; */
    width: 90%;
    height: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
    border-top:1px solid #fff;
}
.reserve .logo-2{ 
 display: flex;
 align-items: center;
 gap: 13px;
}
.reserve .logo-2 h5{
    font-size: 20px;
    font-weight: 800;
    color:var(--light--)
}
.reserve p{
    font-size: 12px;
    font-weight: 400;
    color:#525766;
}
@media screen and (min-width:700px){
    .header{
        justify-content:space-between;
    }
    .header .nav_list{
        transform: translateY(0);
        position: static;
        display: flex;
        top: 6px;
        height: max-content;
        width: max-content;
        margin-right:200px ;
    }
    .header .nav_list .ul_list{
        width:max-content;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }
     .header  .nav_list .ul_list .li_list .link_list{
        padding: 0 30px;
        flex-direction: row;
        align-items:center;
        width:100%;
        
     }
     .active_link::after{
     
        content: '';
    width: 57px;
    left: 10%;
    transform: translateX(20px);
    margin-left: ;
    position: absolute;
    height: 3px;
    bottom: -5px;
    background-color:#DCF901;
    }
    .menu{
        display: none;
    }
    main .intro-text{
        max-width: 570px;
        margin: 0 auto;
        font-size: 32px;
        text-align: center;
        color: #fff;
        margin-top: 40px;
      }
      main .slider-con .img-wrapper{
        width: 90%;
        
        margin: 0 auto;
      }
      main .slider-con  .img-wrapper img{
         width: 100%;
         height: 300px;
      }
      main .slider-con .btn-right{
        right: 50px;
        top: 50%;
      }
      main .slider-con .btn-left{
        left: 50px;
        top: 50%;
      }
    
    } 
    


